* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #D47597;
}

.container {
    padding: 20px;
}

.container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

img {
    width: 20px;
    height: 20px;
}

.container-menu, .container-title, .container-info {
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: uppercase;
    color: white;
}

.container-menu {
    flex-direction: column;
}

.container-title {
    justify-content: center;
}

.title {
    font-size: 1.1em;
    color: white;
}

.container-info {
    gap: 25px;
}

.container-info_about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-info_register {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.info-image {
    margin: 2px;
}

.container-main_greeting {
    text-transform: uppercase;
    font-weight: bold;
    display: none;
}

.container-main_categories {
    padding: 10px;
}

.container-main_categories ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

.container-main_categories ul li:hover {
    background-color: #0080007d;
    color: white;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.container-main_products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    flex: 1;
}

.container-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.list-products, .container-main_detail {
    display: flex;
    border: 1px solid white;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    min-width: 45%;
}

.container-main_detail {
    margin-top: 10px;
    display: flex;
    border: 1px solid white;
    flex-direction: column;
    background: chocolate;
    align-items: center;
}

.container-user {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-user h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
    text-align: center;
}

.container-user p {
    margin: 10px 0;
    font-size: 1em;
}

.container-user p:hover {
    background-color: #0080007d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}





